# Go build files
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Vendor dir (if using go mod vendor)
vendor/

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db
desktop.ini

# Log files
*.log
